# Environment variables
.env
**/.env
**/.env.*
**/.env.local
**/.env.development
**/.env.test
**/.env.production

# Local environment files
**/env/
**/environments/

# Kubernetes secret files
**/secrets/
**/*.secret
**/*.secret.yaml
**/*.secret.yml

# Terraform variables
**/*.tfvars
**/*.tfvars.json

# Workspace
# Use this directory for your own practices, but do not include it in the repository.
**/workspace/*
!**/workspace/.keep
